html {
  scroll-behavior: smooth;
}

.theme-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .theme-home {
    width: 100%;
  }
}

@media only screen and (max-width: 512px) {
  .theme-home {
    width: 100%;
  }
}