.theme-header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
    background-color: #000;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    margin: 0 40px;
}

.menu-temp {
    color: #ccc;
    font-size: 24px;
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: flex;
    }

    .web-menu {
        display: none;
    }

    .logo {
        font-size: 24px;
        margin: 0 10px;
    }
}