.projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-title {
    margin-left: 20px;
}



@media only screen and (max-width: 960px) {
    .projects {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    .section-title {
        text-align: center;
    }

}

@media only screen and (max-width: 720px) {
    .projects {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    .section-title {
        text-align: center;
    }
}