.theme-about {
    margin: 20px auto;
    padding: 0 10px;
    width: 90%;
}

.theme-about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 420px;
    width: 400px;
}

.theme-about-info {
    font-size: 24px;
    width: 100%;
}

.info-name {
    color: blue;
    font-size: 32px;;
}

@media only screen and (max-width: 960px) {
    .theme-about-top {
        align-items: center;
        margin: 0 10px;
        justify-content: center;
        width: 100%;
    }

    .picture {
        height: 300px;
        width: 300px;
        margin-left: 20px;
    }

    .theme-about-info {
        font-size: 20px;
        width: 100%;
    }

    .info-name {
        font-size: 26px;
    }
}

@media only screen and (max-width: 720px) {
    .theme-about-top {
        flex-direction: column;
        width: 100%;
    }

    .picture {
        height: 280px;
        width: 300px;
        margin: 0 auto;
    }

    .theme-about-info {
        font-size: 20px;
        width: 100%;
    }

    .info-name {
        font-size: 24px;
    }
}